@font-face {
    src: url(fonts/Baro.otf);
    font-family: baro; 
}

body {
    font-family: Monaco, monospace;
    background-color: #fff8f8;
}

form {
    font-family: Monaco, monospace;
}

.center {
    display: block;
    width: auto;
    height: auto;
    width: 100%;
}

.signin-form {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    font-family: Monaco, monospace;
    color: whitesmoke;
}

input::placeholder {
    color: #433630;
    font-style: italic;

}

input[type=text] {
    border: none;
    border-bottom: 1px solid white;
    margin: 10px 30px;
    padding: 6px 6px;
    width: 79%;
    overflow: hidden;
    background: transparent;
    font-weight: 300;
    font-size: 14px;
}

input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid #433630;
    color: #433630;
}

.login {
    border: 2px solid #433630;
    padding: 15px 10px;
    width: 60%;
    font-size: 14px;
    background-color: #433630;
    color: white;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 50px;
    opacity: 1.0;
}

.login:hover {
    border: 2px solid white;
    padding: 15px 10px;
    width: 60%;
    font-size: 14px;
    background-color: white;
    color: #433630;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 50px;
    opacity: 1.0;
}

.topnav {
    font-family: baro;
    text-decoration: none;
    background-color: #433630;
    color: #fff8f8;
    padding: 2px 2px;
}

.topnav a:link {
    color: #002747;
    text-decoration: none;
    padding: 5px 8%;

}

.topnav a:visited {
    background-color: #433630;
    color: #fff8f8;
}

.topnav a:hover {
    background-color: whitesmoke;
    color: #433630;
    padding: 8px 8%;
}

.topnav a.active {
    background-color: #e7b3b7;
    color: #433630;
}

table {
    background-color: white;
    color: #433630;
    border-radius: 5px;
    padding: 20px 20px;
    font-size: 20px;
}

tr {
    padding: 20px 20px;
}

td {
    padding: 20px 20px;
}